<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DebtSettlement"
             providerName="System.Data.SqlClient"
             connectionString="Data Source=TACV-SQLDEV2;Initial Catalog=DebtSettlement_QA;Integrated Security=SSPI" />
        <add name="DebtManager"
             providerName="System.Data.SqlClient"
             connectionString="Data Source=TACV-SQLDEV2;Initial Catalog=DebtManager_QA;Integrated Security=SSPI" />
    </connectionStrings>
</configuration>